.search{
    width: 50%;
    height: 75px;
    margin: 50px auto;
    border: 1px solid #c4c4c4;
    background-color: white;
    border-radius: 15px;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
}
.searchBtn{
    /* margin-left: auto; */
    height: 75px !important;
    width: 75px !important;
    border-radius: 0px 15px 15px 0px !important;
}
.inputContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.jobContainer{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    border: 1px solid #c4c4c4;
}