.body{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form{
    margin: 125px auto;
    width: 40%;
    min-width: 30%;
    height: fit-content;
    margin: auto;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 25px 75px;
    justify-content: space-around;
    background-color: white;
}
.title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}