.body{
    width: 100%;
    height: calc(100vh - 76px);
    display: flex;
    justify-content: center;
}
.form{
    margin: auto auto;
    width: 25%;
    /* height: 55vh; */
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 25px 75px;
    justify-content: space-around;
    background-color: white;
    transition: 0.3s ease;
}
.form:hover{
    transform: translateY(-10px);
}
.title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.link{
    color: rgb(var(--primary-6));
}
.link:hover{
    cursor: pointer;
    text-decoration: underline;
}
.errorMessage{
    color: red;
    margin-bottom: 0;
    margin-top: 5px;
}