body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0dbe57a;
  --primary-1: var(--purple-1) !important;
  --primary-2: var(--purple-2) !important;
  --primary-3: var(--purple-3) !important;
  --primary-4: var(--purple-4) !important;
  --primary-5: var(--purple-5) !important;
  --primary-6: var(--purple-6) !important;
  --primary-7: var(--purple-7) !important;
  --primary-8: var(--purple-8) !important;
  --primary-9: var(--purple-9) !important;
  --primary-10: var(--purple-10) !important;
  /* --primary-6: 143,57,133 !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, .arco-btn, .arco-input-group > .arco-input-inner-wrapper, .arco-picker, .arco-select-view{
  border-radius: 6px !important;
}
.arco-btn{
  height: 40px !important;

}
.arco-input-size-large, .arco-picker, .arco-select-view{
  height: 50px !important;
}
.arco-select-view-value{
  margin: auto !important;
}

.arco-input-group-prefix{
  color: #722ed1 !important;
}

