body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0dbe5;
  --primary-6: 143,57,133 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, .arco-btn, .arco-input-group > .arco-input-inner-wrapper, .arco-picker, .arco-select-view{
  border-radius: 6px !important;
}

.arco-input-size-large, .arco-picker, .arco-select-view{
  height: 50px !important;
}
.arco-select-view-value{
  margin: auto !important;
}

.arco-input-group-prefix{
  color: #8F3985 !important;
}

