.body{
    border-radius: 25px;
    background-color: #f9f9f9;
    height: fit-content;
    width: calc(100% - 50px);
    margin-top: 50px;
    padding: 25px;
}
.title{
    font-size: 26px;
    font-weight: 600;
    margin: 0;
}
.awardInfo{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin: 25px 0px;
}
.institutionPic{
    border-radius: 10px;
    /* background-color: #ffffff; */
    min-width: 70px;
    max-width: 70px;
    height: 70px;
}
.awardTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.actions{
    justify-content: flex-end;
}
@media only screen and (max-width: 600px) {
    .body{
        width: 85%;
    }
    .actions > *{
        margin: 0 !important;
        margin-top: 10px !important;
        float: right;
    }
    .awardInfo{
        gap: 15px;
    }
}